# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore compiled classes
bin

# Ignore eclipse-specific files
.project
.settings

# Temporarily ignore generated docs.
#d-zayn/docs
